

body{
	background-color: #dddddd;
}

#hbar{
	background-color: #ffffff;
	overflow: auto;

}

.alink {
	float: right;
	margin-top:20px;
	position: relative;
	color: #777777;
}

.alink1{
	position: relative;
	right:-27px;
}

.alink2{
	position: relative;
	right: -62px;
}

.alink3{
	position: relative;
	right: -100px;
}

h1{
  background-color: #4aaaa5;
  width: 180px;
  float: left;
  padding:20px;
  margin-left: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family:  'Georgia', Times, Times New Roman, serif;

}

h2{
	color: #4aaaa5;
	margin: 20px 0px 20px 20px;
	font-size: 25px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;

}

h3{
	color: #4aaaa5;
	margin: 20px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;


}
a {

	margin-left: 10%;

}

p{
	float: auto;
	margin: 20px 40px 20px 20px;
	color: #777777;
}

.htmllinks {
	
}
.topline{
	background-color: #cccccc;
	padding: 1px;
	position: relative;
	top: 60px;
}

.wrapper{
	width: 960px;
	margin-left: auto;
	margin: auto;
}

.line1{
	background-color: lightgrey;
	padding-top: 3px;
	width: 92%;
	margin-left: 20px;

}

.line2{
	background-color: lightgrey;
	padding: 1px;
	width: 220px;
	margin: 20px;
}

img{
	margin: 20px;
	float: left;

}

.content {
	width: 650px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
	float: left;
	background-color: white;
	position: relative;

}

.Connect{
	background-color: white;
	float: right;
	position: absolute;
	top: 87px;
	margin-left: 20px;
	width: 270px;
	padding: 40px auto 20px auto;
	text-align: center;
	height: 180px;
	margin-right: 32px;
}
.gh{
	position: relative;
	top:20px;
	left: -30px;
}

.linkin{
	position: relative;
	top: 20px;
	left: -20px;

}

.so{
	position: relative;
	top: 20px;
}

.footline{
	background-color: #4aaaa5;
	padding: 4px;
	position:relative;
	top: 510px;
}

footer {
	background-color: #666666;
	font-size: 10px;
	color: white;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
	position: static;
	margin-top:510px;
	width: 100%;
	clear: left;

}
.footline2{
	position: relative;
	top: 830px;
	background-color: #4aaaa5;
	padding: 4px;
}

.portbox{
	background-color: white;
	float: left;
	width: 55%;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 117px;
}

.portimg{
	margin-left: 50px;

}


.wrapper2{
	width: 960px
	margin-left:100px;
	margin-right: auto;
}


.contact{
	background-color: white;
	float: left;
	width: 60%;
	margin-top: 25px;
	margin-left: 117px;
	padding-bottom: 0px;
}

input{
	width: 91%;
	margin-left: 20px;

}

.imess{
	height: 140px;
}

button{
	color: white;
	background-color: #4aaaa5;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 10px 20px;
	position: relative;

}

